@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset */
@charset "utf-8";

/* font */
@font-face {
  font-family: 'Noto Sans CJKkr';
  font-style: normal;
  font-weight: 350;
  src: url("../assets/fonts/NotoSansCJKkr-DemiLight.otf") format("opentype"),
  url("../assets/fonts/NotoSansCJKkr-DemiLight.woff") format("woff"),
  url("../assets/fonts/NotoSansCJKkr-DemiLight.woff2") format("woff2");
}

@font-face {
  font-family: 'Noto Sans CJKkr';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSansCJKkr-Regular.otf") format("opentype"),
  url("../assets/fonts/NotoSansCJKkr-Regular.woff") format("woff"),
  url("../assets/fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Noto Sans CJKkr';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/NotoSansCJKkr-Medium.otf") format("opentype"),
  url("../assets/fonts/NotoSansCJKkr-Medium.woff") format("woff"),
  url("../assets/fonts/NotoSansCJKkr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Noto Sans CJKkr';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/NotoSansCJKkr-Bold.otf") format("opentype"),
  url("../assets/fonts/NotoSansCJKkr-Bold.woff") format("woff"),
  url("../assets/fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
}

.btn_input_height{
  height: 45px;
}


/* reset */
html {height:100%; font-size:10px;}
body {
  width:100%;
  min-width: 360px;
  margin:0;
  font-size:14px;
  color:#333;
  letter-spacing: -1px;
  line-height: 18px;
  font-weight:400;
  font-family:'Noto Sans CJKkr'!important;
  background: #f5f8fe;
  letter-spacing: 0.025em;
}

#circos div{
  display: block;
}
#circos div svg{
  display: inline;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bg-tab{
  background-color: #edeff3;
}

.bg-website{
  background-color: #fafbfb;
}
.card-border{
  border:solid 1px #A4B7E5;
}

#header{
  background-image:url('../assets/images/bg.png');
  background-size:  cover;

}
.screen-1{
  height: 20vh;
}
.screen-2{
  height: 60vh;
}
.dropdownHeader{
  color: #fff;
  background: #0c3c6a;
  opacity: 1;
  height: 60px;
  margin: 0 auto;
  border-radius: 26px;
  display: table;
  width: 100%;
  z-index:9999999;
}
.group .group_box{
  min-width: 150px;
  display: flex;
  justify-content: center;
  text-align: center;

}

.group:hover,.group:hover .group_box{
  background: #0c2f4d;
  width: 100%;
  display: inline-flex;
  text-align: center;
}
.group:hover ul{
  display: block !important;
  background: #0c2f4d;
  width: 100%;
  height: auto;
  transition: all .5s ease-in-out;
  top: 60px;
  z-index: 999999;
}
.border-blue{
  border-color: #0c2f4d;
}

.con ul li:nth-child(1) a span{background: url('../assets/images/main_icon.png') no-repeat center 30px;}
.con ul li:nth-child(2) a span{background: url('../assets/images/main_icon.png') no-repeat center -72px;}
.con ul li:nth-child(3) a span{background: url('../assets/images/main_icon.png') no-repeat center -169px;}
.con ul li:nth-child(4) a span{background: url('../assets/images/main_icon.png') no-repeat center -275px;}
.con ul li:nth-child(5) a span{background: url('../assets/images/main_icon.png') no-repeat center -374px;}
.con ul li:nth-child(6) a span{background: url('../assets/images/main_icon.png') no-repeat center -476px;}
.con ul li:nth-child(7) a span{background: url('../assets/images/main_icon.png') no-repeat center -572px;}
.con ul li:nth-child(8) a span{background: url('../assets/images/main_icon.png') no-repeat center -670px;}
.con ul li:nth-child(9) a span{background: url('../assets/images/main_icon.png') no-repeat center -765px;}
.con ul li:nth-child(10) a span{background: url('../assets/images/main_icon.png') no-repeat center -860px;}
.con ul li a{
  position: relative;
}
.con ul li a::after{
  content: url('../assets/images/list.png');
  right: 0;

}
.con ul li a span{
  display: inline-block;
  height: 130px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.modebar-group{
  display: inline-flex !important;
}


/* --------------loader----------- */
.loader {
	border-top-color: black;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}
.onco{
  margin: 50px 20px
}
.onco span div div.noselect:first-child{
  overflow: scroll;
}
.noselect img{
  width: 24px;
  height: 24px;
}


.boxplot_tooltip{
  position: absolute;
    text-align: center;
    width: 100px;

    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.venntooltip {
    font-size : 14px;
    position: absolute;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}


/* @-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
} */

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.watermark {
  position: relative;
}

.watermark:after {
  content: "";
  display: block;
  pointer-events: none;
  width: 210px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: 30px;
  background-image: url('../assets/img/main_logo2.png');
  background-size: auto;
  background-position: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  /* fill: red; */
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.onco span div:first-child{
  width: 100%;
}
