@tailwind base;
@tailwind components;
@tailwind utilities;
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bg-tab{
  background-color: #edeff3;
}

.bg-website{
  background-color: #fafbfb;
}
.card-border{
  border:solid 1px #A4B7E5;
}
