[data-venn-sets="DNA Mutation_RNA Expression"] text {
  fill: black;
}

[data-venn-sets="DNA Mutation_RNA Expression"]:hover { }
/* [data-venn-sets="0"]   { fill: #125FE3; }
[data-venn-sets="1"]   { fill: #FD4DB0; }
[data-venn-sets="2"]   { fill: #C94402; }
[data-venn-sets="0_1"] { fill: #FCE917; }
[data-venn-sets="0_2"] { fill: #2C4A68; }
[data-venn-sets="1_2"] { fill: #9244A6; }
[data-venn-sets="0_1_2"] { fill: #44A691; } */
[data-venn-sets="RNA Expression"]   { fill: "#c94402"; }
[data-venn-sets="Global Proteome"]   { fill: "#fd4db0"; }
[data-venn-sets="DNA Mutation"]   { fill: "#125fe3"; }
[data-venn-sets="Global Proteome_RNA Expression"] { fill: "#fce917"; }
[data-venn-sets="RNA Expression_DNA Mutation"] { fill: "#9244a6"; }
[data-venn-sets="Global Proteome_DNA Mutation"] { fill: "#2c4a68"; }
[data-venn-sets="DNA Mutation_RNA Expression_Global Proteome"] { fill: "#44a691"; }
/* svg {	mix-blend-mode: difference; } */
