.sub_head_heat{
  display: flex;
}

.tabs_box{
  width: 50%;
}

.box_space{
  gap:5%
}

.sub_sec_head{
  gap:10%;
  margin-top: 3%;
      background-color: aliceblue;
    padding: 2%;
}

.sub_tabs{
 
  flex-direction: 'column';
}