.VolcanoContainer {
  margin-top: 8px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.VolcanoText {
  font-size: 18px;
}

.VolcanoText strong {
  font-weight: bold;
}

.VolcanoButton {
  display: flex;
  align-items: center;
  background-color: #4c51bf;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
}

.VolcanoIcon {
  fill: currentColor;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.VolcanoDownloadText {
  font-size: 14px;
}
.flexRow{
  display: flex;
  flex-direction: row;
  flex-flow: column;
  justify-content: left;
  align-items: start;
  gap: 5px;
}
.volcanoInputText{
  border:1px solid #999 !important;
  padding:12px 10px;
  border-radius: 5px;
}

.volcanoFromToInputText{
  height:30px !Important;
}